<div class="main_notification columns is-centered">
    <div class="column is-narrow has-items-centered">
        {% set level_map={
            'success': 'is-success',
            'info': 'is-info',
            'warning': 'is-warning',
            'error': 'is-danger'
            }
        %}

        <div class="notification {{level_map[level]}} pr-6 py-4">
            <button class="delete click_to_close"></button>
            {{message}}
        </div>
    </div>
</div>
