<div class="main_notification columns is-centered">
    <div class="column is-narrow has-items-centered">
        {% set level_map={
            'success': 'is-success',
            'info': 'is-info',
            'warning': 'is-warning',
            'error': 'is-danger'
            }
        %}

        <div class="notification {{level_map[level]}} py-4">
            {{message}}
            <button class="button is-rounded is-small click_to_retry ml-5 is-valign-middle">{% trans %}retry{% endtrans %} (<span class="retry_counter">X</span>s)</button>
        </div>
    </div>
</div>
