{% block url_preview %}
<div class="notification is-info is-light my-5">
    <div class="content">
        <h4 class="title is-4">{% trans %}URL Preview{% endtrans %}</h4>
        <p class="mb-4">{% trans %}To protect your privacy, we don't automatically fetch URL previews. If you want to preview this URL, just hit the "Fetch Preview" button. You can customize this preference in your settings.{% endtrans %}</p>
        <div class="buttons">
            <a class="button is-link action_go_to_settings" href="#">
                <span class="icon">
                    {{ icon('wrench') }}
                </span>
                <span>{% trans %}Go to Settings{% endtrans %}</span>
            </a>
            <button class="button is-primary action_fetch_preview">
                <span class="icon">
                    {{ icon('eye') }}
                </span>
                <span>{% trans %}Fetch Preview{% endtrans %}</span>
            </button>
        </div>
    </div>
</div>
{% endblock url_preview %}
