#containers_wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

#call_container {
  position: absolute;
  height: 100%;
  width: 100%;
}

#remote_video, #local_video {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: #000;
}

#local_video {
  border: 3px solid #eee;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

#remote_video {
  position: absolute;
  top: 0;
  left: 0;
}

.fullscreen-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
}

#local_video {
  position: absolute;
  /* We set some distance to the bottom to avoid overlap with action buttons */
  bottom: 60px;
  right: 10px;
  width: 30%;
  height: 30%;
}

.call-controls {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  z-index: 2;
}

.is-rotated-135 svg {
    transform: rotate(135deg);
}

.inactive::after {
    content: "/";
    position: absolute;
    font-size: 50px;
    top: 43%;
    left: 52%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.muted::after {
    color: red;
}

.screen-off::after {
    color: #999;
}

.call_status {
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
}

.dropdown-menu{
    min-width: 0;
}

.card .dropdown-trigger {
    opacity: 0;
    transition: opacity 0.3s;
}

.card:hover .dropdown-trigger {
    opacity: 1;
}

@media (max-width: 768px) {
    .card .dropdown-trigger {
        opacity: 1;
    }
}

.level-right {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.icon-dot-3-vert {
    margin: 0 0.5rem;
}
