<ul>
    {% for edition in editions %}
        <li class="m-2">
            <span class="tag is-info is-light">
                {{ edition.timestamp | date_fmt(fmt="auto_day", auto_new_fmt="relative") }}
            </span>
            <span class="ml-2">{{ edition.text }}</span>
        </li>
    {% endfor %}
</ul>


