<div class="has-text-centered my-3">
    <hr class="has-background-info is-marginless">
    <span class="has-text-info is-size-7">{% trans %}new messages{% endtrans %}</span>
    <hr class="has-background-info is-marginless">
</div>
