<div class="reactions-container is-flex-wrap-wrap">

    {% if chat_type == "group" %}
        {% set local_jid = own_local_jid %}
    {% else %}
        {% set local_jid = own_local_jid|bare_jid %}
    {% endif %}

    {% for emoji, jids in reactions.items() %}
        {% set own_reaction = local_jid in jids %}
        <div
                class="reaction box is-shadowless is-inline-flex is-align-items-center my-1 ml-0 mr-2 px-2 py-1 is-size-6 has-background-light has-border is-not-selectable {{ 'own-reaction' if own_reaction }}"
                data-jids='{{jids|tojson}}'
                >
            <span class="emoji has-text-weight-semibold">{{ emoji }}</span>
            <span class="counter">{{ jids|length }}</span>
        </div>
    {% endfor %}
</div>
